<div class="filters">

  <div class="p-inputgroup">
    <span class="p-inputgroup-addon">
      <i class="pi pi-search"></i>
    </span>
    <input class="p-inputtext" type="text" placeholder="Busque por nome" [(ngModel)]="searchTerm" (input)="filterCountriesByName(searchTerm)" />
  </div>


  <app-filter-by-region></app-filter-by-region>
</div>
<div class="countries-container">
  <div class="group" *ngFor="let country of filteredCountries">
    <div class="flag"  (click)="viewCountryDetails(country.name.common)">
      <img [src]="country.flags.png" alt="{{ country.name.common }} flag">
    </div>
    <div class="info">
      <h2>{{ country.name.common }}</h2>
      <p>Population: {{ country.population | number }}</p>
      <p>Capital: {{ country.capital }}</p>
      <p>Region: {{ country.region }}</p>
    </div>
  </div>
</div>
