.countries-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 4fr));
  gap: 20px;
  padding: 20px;
}

.input {
  border: 1px solid gray;
}

.group {
  background-color: white;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  overflow: hidden;
  width: 300px;
}

.flag img {
  width: 300px;
  height: 200px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
}

.info {
  margin: 15px;
}

.filters {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.p-inputgroup {
  display: flex;
  align-items: center;
  position: relative;
  width: 400px;
  margin-left: 20px;
}

.p-inputtext {
  padding-left: 30px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  margin-left: 20px;
}

.p-inputgroup-addon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  pointer-events: none;
  background-color: #ffffff;
  border: none;
  height: 100%;
}

@media (max-width: 1300px) {
  .filters {
    display: flex;
    flex-direction: column;
  }

  app-filter-by-region {
    width: 190px;
    margin-top: 10px;
  }

  .p-inputgroup {
    width: 100%;
    margin-left: 0;
  }

  .p-inputtext{
    margin-left: 20px;
  }
}

