.countries-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 4fr));
  gap: 20px;
  padding: 20px;
}

.input{
  border: 1px solid gray;
}

.group {
  background-color: white;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  text-align: left;
  overflow: hidden;
  width: 300px;

}

.flag img {
  width: 300px;
  height: 200px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
}

.info h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.info{
  margin: 15px;
}

.filters{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}